# -*- coding: utf-8 -*-
"""
Created on Wed Mar  4 09:45:36 2026

@author: Samsung
"""

[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
FileStorePath=./store
FileLogPath=./log
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
# Screen logging for debugging
ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y

[SESSION]
BeginString=FIX.4.4
SenderCompID=YOUR_CLIENT_ID
TargetCompID=YOUR_TARGET_ID
SocketConnectHost=127.0.0.1
SocketConnectPort=1238
# Credentials (if required)
Username=trader
Password=secret